/* Remove default radius on bootstrap input */
.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/* Search bar focus */
.navbar .form-control:focus {
  border-color: transparent;
}
